@font-face {
    font-family: Inter;
    src: url(../fontes/Inter.ttf);
}

@font-face {
    font-family: Caveat;
    src: url(../fontes/Caveat.ttf);
}

:root {
    --font-size: 1.1rem;
    --line-height: calc(var(--font-size)*1.5);
    --font-family: Inter, sans-serif;
}

html, body {
    line-height: var(--line-height);
    font-family: var(--font-family);
    scroll-behavior: smooth;
}

button {
    padding: 16px 0;
    border-radius: 32px;
    overflow: hidden;
}

button > a {
    text-decoration: none;
    padding: 17px 32px;
}

button a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

button a:active {
    background-color: transparent;
}

header {
    background-color: #EDF6F9;
    height: 15vh;
}

header > div {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}

header ul {
    display: flex;
}

header ul li {
    margin-right: 1.5vw;
    font-size: var(--font-size);
}

header ul li:hover {
    text-decoration: underline;
    text-underline-offset: .25rem;
    text-decoration-thickness: 1px;
}

header ul li#selecionado {
    font-weight: bold;
}

header > div > div {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: black;
}

header .logo {
    background-color: turquoise;
    height: 50px;
    width: 50px;
    border-radius: 25%;
    display: flex;               
    justify-content: center;     
    align-items: center;         

}
header .logo img {
    width: 100%;                 
    height: 100%;                
    object-fit: cover;
}

#banner {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    position: relative;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)), url('../imagens/cfe48b73d17cb07d62bc3c3bb4d0a604.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#banner > div {
    width: 60vw;
    padding: 0 19vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

#banner h1 {
    font-family: Caveat, var(--font-family);
    font-size: calc(var(--font-size)*2.75);
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: calc(var(--line-height)*2);
}

#banner button {
    background-color: #006D77;
    border: 1px solid white;
    font-size: var(--font-size);
    margin-top: 3vh;
}

#banner button > a {
    color: white;
}

main {
    background-color: #EDF6F9;
    padding: 10vh 20vw;
    font-size: var(--font-size);
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

main > .animal {
    padding: 10vh 10vw;
    background-color: #FFDDD2;
    border-radius: 40px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

main .img {
    height: 400px;
    background-color: black;
    margin: auto;
    border-radius: 20px;
    display: flex;               
    justify-content: center;     
    align-items: center;  
}
main .img img{
    width: 100%;                 
    height: 100%;                
    object-fit: cover;
    border-radius: 20px;
}

main h2 {
    font-size: calc(var(--font-size)*2.5);
    font-family: Caveat, var(--font-family);
    font-weight: bold;
    text-align: center;
    margin-top: 5vh;
}

main p {
    margin: 5vh 0;
}

main .botao {
    display: flex;
    justify-content: center;
    align-items: center;
}

main button {
    background-color: #E29578;
    border: 1px solid black;
    font-size: var(--font-size);
}

main button > a {
    color: black;
}

footer {
    background-color: #006D77;
    height: 35vh;
    color: white;
    text-align: center;
    position: relative;
}

footer > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer h3 {
    font-size: var(--font-size);
}

footer svg {
    margin: 1vh 0;
    height: 24px;
    width: 24px;
    transition: transform 0.5s ease-in-out;
}

footer svg:hover {
    transform: scale(1.15);
}

footer p {
    font-size: calc(var(--font-size)*0.75);
}